

    {{ form_start(form) }}
    <div class="col-md-8">
        {{ form_row(form.titre,{ 'attr': { 'class':'form-control'} }) }}
        {{ form_row(form.description, { 'attr': { 'class':'form-control'} }) }}
    </div>

    <div class="col-md-4">
        <div class="bg-light p-3">
        {{ form_row(form.image, { 'attr': { 'class':'form-control'} }) }}
        <button class="btn btn-primary">Publier</button>
        </div>
    </div>
        {{ form_row(form.contenu, { 'attr': { 'class':'form-control'} }) }}

    {{ form_end(form) }}
