 {%set page = '/'~app.request.attributes.get('_route')%}

<nav class="navbar sticky-top navbar-expand-lg navbar-light  mb-5">
    <a class="navbar-brand border-bottom border-dark" href="{{ path('accueil_blog') }}">Bon Temps Roulé</a>
    <button aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarColor03" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            {% if page == path('blog')   %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="{{ path('blog') }}">Mon Blog
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% if page == path('shop')   %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="{{ path('shop') }}">Boutique</a>
            </li>
            {% if page == path('a_propos')   %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="{{ path('a_propos') }}">À propos</a>
            </li>
            {% if page == path('contact')   %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
            </li>

        </ul>

        <div class="nav-item dropdown">
            {% if app.user %}
                <a aria-expanded="true" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    Bienvenue,
                    {{ app.user.prenom }}</a>
                <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                    <a class="dropdown-item" href="{{ path('account') }}">Mon Compte</a>
                    <a class="dropdown-item" href="{{ path('account_commande') }}">Mes Commandes</a>
                    <div class="dropdown-divider"></div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item text-warning" href="{{ path('accueil_admin') }}">Administration</a>
                    {% endif %}
                        <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% else %}
                <a aria-expanded="true" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    Connexion / inscription</a>
                <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                    <a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
                    <a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a>
                </div>
            {% endif %}
        </div>
            <a href="{{ path('afficherPanier') }}"><i class="fas fa-shopping-bag fa-2x"></i></a>
            {% if app.session.get('panier')|length > 0 %}
                <span class="badge badge-primary">{{ app.session.get('panier')|length }}</span>   
            {% endif %}
        </div>
</nav>
